/**
针对部分框架样式做出调整 /  自定义样式标签属性
 */
.ivu-layout-header {
  background: white !important;
}

.ivu-menu-horizontal {
  height: 100% !important;
}

.ivu-card {
  width: 100% !important;
  border-radius: 5px;
}

.ivu-card:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 5px 0 !important;
}

.ivu-card-bordered {
  border: none;
}

.ivu-badge {
  width: 50px;
}

.ivu-badge-count {
  border-radius: 0 !important;
}

/*针对添加文章样式修改*/
textarea.ivu-input {
  height: 600px;
  min-height: 136px;
}

.i-editor-md .dev-md-content {
  height: 600px;
  overflow-y: scroll;
}

/*针对登录/注册/修改密码表单样式调整*/
.login .ivu-input, .register .ivu-input, .forget .ivu-input {
  width: 100%;
  margin: auto;
  border: none !important;
  border-bottom: 1px solid #BFBFBF !important;
  border-radius: 0;
  background-color: transparent !important;
}

.login .ivu-input:focus, .register .ivu-input:focus, .forget .ivu-input:focus {
  border-color: #BFBFBF !important;
  outline: 0;
  box-shadow: none !important;
}

.login .ivu-btn, .register .ivu-btn, .forget .ivu-btn {
  width: 100%;
  margin: auto;
  height: 50px;
}

.login .bl-button .ivu-form-item-content, .register .bl-button .ivu-form-item-content,.forget .bl-button .ivu-form-item-content{
  margin-left: 0 !important;
}

.login .extra, .register .extra , .forget .extra {
  width: 92%;
  margin: auto;
}
